
body {
  font-family: Arial;
  margin: 30px;
  background: #f9f9f9;
}

h1, h2 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input, button {
  padding: 8px;
  font-size: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 8px;
}

.expired {
  background-color: #f8d7da;
}

.soon {
  background-color: #fff3cd;
}

.safe {
  background-color: #d4edda;
}
